BookStore-with-WCF/BookStore.BusinessLogic.WCF/Service References/OrdersWcfService/OrdersWcfService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:9554/OrdersWcfService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/BookStore.BusinessLogic" />
  <xs:import schemaLocation="http://localhost:9554/OrdersWcfService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/BookStore.Model" />
  <xs:element name="ValidateOrder">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="branchId" type="xs:int" />
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/BookStore.BusinessLogic" minOccurs="0" name="orderedBooks" nillable="true" type="q1:ArrayOfOrderedBookDescription" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidateOrderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ValidateOrderResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveOrder">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="branchId" type="xs:int" />
        <xs:element minOccurs="0" name="customerId" type="xs:int" />
        <xs:element minOccurs="0" name="employeeId" type="xs:int" />
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/BookStore.BusinessLogic" minOccurs="0" name="orderedBooks" nillable="true" type="q2:ArrayOfOrderedBookDescription" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveOrderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/BookStore.Model" minOccurs="0" name="SaveOrderResult" nillable="true" type="q3:Order" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>