BookStore-with-WCF/BookStore.BusinessLogic.WCF/Service References/OrdersWcfService/OrdersWcfService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/BookStore.BusinessLogic" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/BookStore.BusinessLogic" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfOrderedBookDescription">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="OrderedBookDescription" nillable="true" type="tns:OrderedBookDescription" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfOrderedBookDescription" nillable="true" type="tns:ArrayOfOrderedBookDescription" />
  <xs:complexType name="OrderedBookDescription">
    <xs:sequence>
      <xs:element minOccurs="0" name="Amount" type="xs:int" />
      <xs:element minOccurs="0" name="BookId" type="xs:int" />
      <xs:element minOccurs="0" name="BookTitle" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OrderedBookDescription" nillable="true" type="tns:OrderedBookDescription" />
</xs:schema>