BookStore-with-WCF/BookStore.BusinessLogic.WCF/Service References/OrdersWcfService/OrdersWcfService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/BookStore.Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/BookStore.Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:9554/OrdersWcfService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Mita.DataAccess" />
  <xs:import schemaLocation="http://localhost:9554/OrdersWcfService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="Order">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/Mita.DataAccess" base="q1:DomainObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="Customer" nillable="true" type="tns:Customer" />
          <xs:element minOccurs="0" name="CustomerId" type="xs:int" />
          <xs:element minOccurs="0" name="Date" type="xs:dateTime" />
          <xs:element minOccurs="0" name="Employee" nillable="true" type="tns:Employee" />
          <xs:element minOccurs="0" name="EmployeeId" type="xs:int" />
          <xs:element minOccurs="0" name="OrderedBooks" nillable="true" type="tns:ArrayOfOrderedBook" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Order" nillable="true" type="tns:Order" />
  <xs:complexType name="Customer">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q2="http://schemas.datacontract.org/2004/07/Mita.DataAccess" base="q2:FullNamedDomainObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="Address" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="BirthDate" type="xs:dateTime" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Customer" nillable="true" type="tns:Customer" />
  <xs:complexType name="Employee">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q3="http://schemas.datacontract.org/2004/07/Mita.DataAccess" base="q3:FullNamedDomainObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="Branch" nillable="true" type="tns:Branch" />
          <xs:element minOccurs="0" name="BranchId" type="xs:int" />
          <xs:element minOccurs="0" name="User" nillable="true" type="tns:User" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Employee" nillable="true" type="tns:Employee" />
  <xs:complexType name="Branch">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q4="http://schemas.datacontract.org/2004/07/Mita.DataAccess" base="q4:NamedDomainObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="Address" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Branch" nillable="true" type="tns:Branch" />
  <xs:complexType name="User">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q5="http://schemas.datacontract.org/2004/07/Mita.DataAccess" base="q5:DomainObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="Employee" nillable="true" type="tns:Employee" />
          <xs:element minOccurs="0" name="LastLoginTime" type="xs:dateTime" />
          <xs:element minOccurs="0" name="Login" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Role" type="tns:Role" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="User" nillable="true" type="tns:User" />
  <xs:simpleType name="Role">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Admin">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">1</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="User">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">2</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="Role" nillable="true" type="tns:Role" />
  <xs:complexType name="ArrayOfOrderedBook">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="OrderedBook" nillable="true" type="tns:OrderedBook" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfOrderedBook" nillable="true" type="tns:ArrayOfOrderedBook" />
  <xs:complexType name="OrderedBook">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q6="http://schemas.datacontract.org/2004/07/Mita.DataAccess" base="q6:DomainObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="Amount" type="xs:int" />
          <xs:element minOccurs="0" name="Book" nillable="true" type="tns:Book" />
          <xs:element minOccurs="0" name="BookId" type="xs:int" />
          <xs:element minOccurs="0" name="Order" nillable="true" type="tns:Order" />
          <xs:element minOccurs="0" name="OrderId" type="xs:int" />
          <xs:element minOccurs="0" name="Price" type="xs:decimal" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="OrderedBook" nillable="true" type="tns:OrderedBook" />
  <xs:complexType name="Book">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q7="http://schemas.datacontract.org/2004/07/Mita.DataAccess" base="q7:TitledDomainObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="Amounts" nillable="true" type="tns:ArrayOfBookAmount" />
          <xs:element minOccurs="0" name="Category" nillable="true" type="tns:BookCategory" />
          <xs:element minOccurs="0" name="CategoryId" type="xs:int" />
          <xs:element minOccurs="0" name="ISBN" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Price" type="xs:decimal" />
          <xs:element minOccurs="0" name="PublishYear" type="xs:int" />
          <xs:element minOccurs="0" name="Writers" nillable="true" type="tns:ArrayOfWriter" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Book" nillable="true" type="tns:Book" />
  <xs:complexType name="ArrayOfBookAmount">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BookAmount" nillable="true" type="tns:BookAmount" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBookAmount" nillable="true" type="tns:ArrayOfBookAmount" />
  <xs:complexType name="BookAmount">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q8="http://schemas.datacontract.org/2004/07/Mita.DataAccess" base="q8:DomainObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="Amount" type="xs:int" />
          <xs:element minOccurs="0" name="Book" nillable="true" type="tns:Book" />
          <xs:element minOccurs="0" name="BookId" type="xs:int" />
          <xs:element minOccurs="0" name="Branch" nillable="true" type="tns:Branch" />
          <xs:element minOccurs="0" name="BranchId" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="BookAmount" nillable="true" type="tns:BookAmount" />
  <xs:complexType name="BookCategory">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q9="http://schemas.datacontract.org/2004/07/Mita.DataAccess" base="q9:NamedDomainObject">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="BookCategory" nillable="true" type="tns:BookCategory" />
  <xs:complexType name="ArrayOfWriter">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Writer" nillable="true" type="tns:Writer" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfWriter" nillable="true" type="tns:ArrayOfWriter" />
  <xs:complexType name="Writer">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q10="http://schemas.datacontract.org/2004/07/Mita.DataAccess" base="q10:FullNamedDomainObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="Books" nillable="true" type="tns:ArrayOfBook" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Writer" nillable="true" type="tns:Writer" />
  <xs:complexType name="ArrayOfBook">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Book" nillable="true" type="tns:Book" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBook" nillable="true" type="tns:ArrayOfBook" />
</xs:schema>